# .env.sample - Sample Environment Variables for Client (Vite)

# Server API URL (call it in React with import.meta.env.VITE_API_URL)
VITE_API_URL=http://localhost:3310

# Other Environment Variables (if needed)
# VITE_OTHER_VARIABLE=value

VITE_WEATHERLY_API_KEY1=WEATHERLY_API_KEY
VITE_WEATHERLY_API_KEY2=WEATHERLY_API_KEY
VITE_WEATHERLY_API_KEY3=WEATHERLY_API_KEY
VITE_WEATHERLY_API_KEY4=WEATHERLY_API_KEY