div.favorites {
  display: flex;
  min-height: 100px;
  align-items: center;
}

div.favorites > h1 {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}

.city-selected {
  background-color: rgb(145, 69, 216, 40%) !important;
}

#search-bar {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  opacity: 20%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

#search-bar > ul:has(li) {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.15);
  border: white 1px solid;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#search-bar li {
  cursor: pointer;
}

ul.city-favorites {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
  margin-bottom: 44px;
}

ul.city-favorites > li {
  font-size: 1rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 5rem 0.5rem 5rem;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  div.favorites {
    flex-direction: column;
  }
  .leaflet-container {
    width: 100% !important;
    height: 450px !important;
    border-radius: 1rem;
  }

  #search-bar {
    width: 100%;
  }
  .search-input {
    min-width: 75%;
    max-width: 75%;
  }

  li.city-selected {
    padding: 50px;
  }
}

@media screen and (min-width: 768px) {
  div.favorites {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }

  div.favorites > h1 {
    flex: 1 1 100%;
    text-align: center;
  }
  #search-bar {
    flex: 1 1 100%;
  }

  ul.city-favorites {
    flex: 1 1 25%;
    max-width: min(50vw, 768px);
    padding-left: 50px;
    padding-right: 50px;
  }

  div.favorites > img {
    flex: 1 1 33%;
    display: flex;
    max-width: 268px;
    max-height: 263px;
  }

  .leaflet-container {
    width: 50% !important;
    height: 450px !important;
    border-radius: 1rem;
  }

  .search-input {
    min-width: 25%;
    max-width: 50%;
  }
}
