.weather-box {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  max-width: calc(100% - 13rem);
  height: auto;
  max-height: 400px;
  gap: 2rem;
}

.weather-icon {
  width: 6.25rem;
  height: 6.25rem;
  gap: 3rem;
}

@media screen and (max-width: 480px) {
  .weather-icon {
    width: 6.25rem;
    max-width: 6.25rem;
  }
}
.weather-box,
.weather-icon .text-weather-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
}
