.welcome-page-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  min-height: 100vh;
}

.map-rain-viewer-style > .leaflet-container {
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .summary-style {
    height: 150px;
    width: 500px;
  }

  .summary-style > p {
    margin-top: 15px;
  }

  .map-rain-viewer-style {
    width: 100%;
    height: 450px;
  }
}

@media screen and (min-width: 768px) {
  .welcome-page-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
  }

  .map-rain-viewer-style {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3 / 3;
    margin-left: 90px;
    margin-right: 90px;
    height: 500px;
  }

  .map-rain-viewer-style .leaflet-container {
    width: 100% !important;
    height: 100% !important;
  }

  .sun-time-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .sunrise-style,
  .sunset-style {
    max-height: none;
    max-width: none;
    width: 60%;
    height: 54%;
    margin: 0;
  }

  .sunrise-style {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sunset-style {
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .summary-style {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 530px;
    height: 55%;
    margin-top: 15px;
  }

  .weather-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 70%;
    height: 100%;
    max-height: none;
    max-width: none;
    display: grid;
    margin-left: 90px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .weather-info {
    grid-template-rows: 1 / 2;
    grid-template-columns: 1 / 2;
  }

  .weather-info2 {
    grid-template-rows: 2 / 3;
    grid-template-columns: 1 / 2;
  }

  .weather-info3 {
    grid-template-rows: 2 / 3;
    grid-template-columns: 1 / 2;
  }

  .weather-info4 {
    grid-template-rows: 2 / 3;
    grid-template-columns: 2 / 3;
  }

  .today-weather-style {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    max-height: none;
    max-width: none;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .title-style {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 80%;
    height: 40%;
  }

  .current-time {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .current-temperature {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .today-icon {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
}
